@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 96px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.05em;
}

h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: -0.02em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

.trending h4,
.discover h4 {
  letter-spacing: 0.04em;
}

hero p {
  font-size: 18px;
}

.text {
  font-size: 12px;
}

.number {
  font-size: 24px;
  color: #e5e5e5;
  font-weight: 800;
}

p,
a {
  color: #818181;
  font-size: 16px;
  font-weight: 400;
}

.text {
  color: black;
}

.metadata {
  font-size: 13px;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

/* STYLE BUTTON */

button {
  background-color: transparent;
  padding: 8px;
  color: black;
  font-size: 16px;
  border: none;
}

.start {
  padding: 8px 20px;
  color: white;
  border-radius: 18px;
  background-color: black;
  font-size: 16px;
  border: none;
}

.rounded {
  padding: 8px 48px;
  color: white;
  border-radius: 20px;
  background-color: black;
  font-size: 16px;
  border: none;
}

.rectangular {
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background-color: white;
  color: #818181;
  font-size: 16px;
  font-weight: 400;
}

/* STYLE HEADER */

header {
  background-color: #ffc017;
  display: flex;
}

/* STYLE NAVBAR */

nav {
  background-color: #ffc017;
}
