@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 96px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.05em;
}

h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.2em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  margin-bottom: 12px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

.trending h4,
.discover h4 {
  letter-spacing: 0.04em;
}

hero p {
  font-size: 18px;
  color: black;
}

.text {
  font-size: 12px;
  font-weight: 600;
  margin-left: 6px;
}

.number {
  font-size: 24px;
  color: #e5e5e5;
  font-weight: 800;
}

p,
a {
  color: #818181;
  font-size: 16px;
  font-weight: 400;
}

.text {
  color: black;
}

.metadata {
  font-size: 13px;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

/* STYLE BUTTON */
button {
  background-color: transparent;
  padding: 8px;
  color: black;
  font-size: 14px;
  border: none;
  margin-right: 14px;
}

.start {
  padding: 8px 20px;
  color: white;
  border-radius: 22px;
  background-color: black;
  font-size: 16px;
  border: none;
}

.rounded {
  padding: 8px 48px;
  color: white;
  border-radius: 20px;
  background-color: black;
  font-size: 16px;
  border: none;
}

.argument {
  background-color: #f3f3f3;
  color: #818181;
  border-radius: 20px;
  padding: 5px 12px;
  margin-left: 10px;
}

.rectangular {
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background-color: white;
  color: #818181;
  font-size: 16px;
  font-weight: 400;
}

/* STYLE HEADER */
header {
  padding: 20px 50px;
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  position: static;
}

/* STYLE NAVBAR */
ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

/* STYLE HERO SECTION */
hero {
  padding: 0px 50px;
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.heroSection {
  padding-top: 46px;
}

.heroImage {
  flex: 0 6 auto;
  flex-shrink: 6;
}

.item,
.rounded {
  margin: 20px 5px;
}

/* STYLE ARTICLE SECTION */
article {
  padding: 40px 50px;
  background-image: url("/svg.html");
}

/* STYLE TRENDING ON MEDIUM */

.trending {
  display: flex;
  align-items: center;
}

.trending h4 {
  margin-left: 10px;
  margin-bottom: 0;
  letter-spacing: 0.08em;
}

/* STYLE CARD WITH AND WITHOUT ICON */

.card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.card_trend {
  display: flex;
  margin: 20px 5px;
  flex-basis: 30%;
}

.information {
  margin-left: 20px;
}

.iconText {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.iconAuthor {
  width: 20px;
  border-radius: 100%;
}

.iconLogo {
  width: 20px;
  border-radius: 2px;
}

.bestReading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  margin-left: 5px;
}

/* STYLE MAIN */

main {
  padding: 60px 50px;
  display: flex;
  border-top: 1px solid #e7e7e7;
}

.blog_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex-basis: 66%;
  border-top: none;
}

/* Misure FISSE per i 2 items */

.blog {
  display: flex;
  flex-direction: row-reverse;
  /*flex-basis: 60%;*/
  margin-right: 50px;
  margin-bottom: 60px;
  width: 100%;
}

.information2 {
  margin-right: 20px;
}

.image {
  /*flex-basis: 33%;*/
  flex: 0 0 250px;
  width: 250px;
}

.information2 {
  flex: 1;
  margin-right: 20px;
}

.imgBlog {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

/*.imgBlog {
  max-width: 300px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}*/

.information_about_publication {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.metadata,
.argument {
  flex: 1;
}

/* STYLE DISCOVER */

.discover {
  flex-basis: 30%;
  margin-left: 30px;
}

.discover h4 {
  position: sticky;
  top: 8px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  line-height: 3em;
  position: sticky;
  top: 30px;
}

/* STYLE FOOTER */

.footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.items {
  margin-right: 20px;
  flex-basis: 5%;
  text-align: right;
  line-height: 1.8em;
}

/* MEDIA QUERY */

/* LAYOUT TABLET */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 82px;
  }

  h2 {
    font-size: 22px;
  }

  button {
    margin-right: 2px;
    font-size: 12px;
  }

  .start {
    font-size: 14px;
  }

  hero {
    padding: 50px 30px 10px 50px;
    vertical-align: auto;
  }

  hero p br {
    display: none;
  }

  .heroSection {
    flex-basis: 60%;
  }

  .heroImage {
    flex-basis: 30%;
  }

  .M {
    object-fit: cover;
    max-width: 450px;
  }

  .card_trend {
    display: flex;
    margin: 20px 5px;
    flex-basis: 48%;
  }

  main {
    padding: 60px 50px;
    display: flex;
    flex-direction: column-reverse;
    border-top: 1px solid #e7e7e7;
  }

  .blog_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex-basis: 66%;
    border-top: none;
  }

  /* prova
  .blog {
    margin-right: 0;
  }

  .image {
    flex: 0 0 200px; 
  }

  .imgBlog {
    width: 100%;
    height: auto;
  }*/

  /*codice nuovo*/

  .blog {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0;
    margin-bottom: 60px;
    width: 100%;
  }

  /* FIXED measurements for the 2 items */
  .image {
    flex: 0 0 200px;
    width: 200px;
  }

  .information2 {
    flex: 1 1 auto;
    width: calc(100% - 220px);
    margin-right: 20px;
    margin-left: 0;
  }

  .imgBlog {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .discover {
    flex-basis: 30%;
    margin-left: 0;
  }

  .discover h4 {
    position: static;
  }

  .search {
    position: static;
  }

  .footer {
    margin-bottom: 30px;
  }
}

/* LAYOUT SMARTPHONE */
@media screen and (max-width: 576px) {
  .start {
    font-size: 12px;
  }

  h2 {
    font-size: 18px;
  }

  p,
  a {
    font-size: 12px;
  }

  .metadata {
    font-size: 8px;
  }

  button {
    font-size: 10px;
  }

  header {
    padding: 20px 20px;
  }

  header img {
    max-width: 150px;
  }

  button {
    margin-right: auto;
  }

  header nav ul li:nth-child(1),
  header nav ul li:nth-child(2),
  header nav ul li:nth-child(3) {
    display: none;
  }

  hero {
    padding: 20px 20px;
  }

  hero p br {
    display: none;
  }

  .M {
    display: none;
  }

  article {
    padding: 30px 20px;
  }

  .discover h4 {
    position: static;
  }

  .search {
    position: static;
  }

  .card_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  main {
    padding: 60px 20px;
    display: flex;
    flex-direction: column-reverse;
    border-top: 1px solid #e7e7e7;
  }

  .image {
    flex: 0 0 150px;
  }

  .imgBlog {
    width: 100%;
    height: auto;
  }

  /*.image {
    flex-basis: 40%;
    flex-shrink: 0;
  }

  .imgBlog {
    width: 100%;
    max-width: 150px;
  }*/

  .information2 {
    flex: 1;
    margin-right: 10px;
  }
}
